<%- include('./partials/header') %>


<table class="table table-striped container">
	
  <thead>
  	<tr>
  		<th id="no-border" class="pl-0 pb-1"><a href="/almacen/new" class="btn btn-success">Crear almacen</a></th>
  	</tr>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Ubicación</th>
      <th scope="col">Capacidad</th>
      <th scope="col" colspan="2">Acción</th>
    </tr>
  </thead>
  <tbody>
  	<% almacen.forEach(function(almacen){ %>
    <tr>
      	<td> <%= almacen.nombre %></td>
      	<td><%= almacen.ubicacion %></td>
      	<td><%= almacen.capacidad %></td>
      	<td>
      		<div class="row">
      			<a href="/almacen/<%=almacen._id%>/edit" class="btn btn-sm btn-info mr-1">Editar</a>
      			<form action="/almacen/<%=almacen._id%>?_method=DELETE" method="POST">
	    				<input class="btn btn-sm btn-danger" type="submit" value="Eliminar">
	    			</form>
	      		
      		</div>      		
      	</td>
    </tr>
  	  <% }); %>
  </tbody>
</table>


