<%- include('./partials/header') %>

<table class="table table-striped container">
	
  <thead>
    <tr>
      <th scope="col">Seleccionar</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad disponible</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad a seleccionar</th>
    </tr>
  </thead>
  <form action="/pedido" method="POST">

    <!-- <h1><%= articulo.length %></h1> -->
    <tbody>
      <% for (var i = 0; i < articulo.length; i++) { %>
       
        <!-- <% var x = []; %> -->
          <tr>
            <td>
              <input type="checkbox" name="item[pedido]" value="<%= articulo[i].id %>">
            </td>
            <td> 
              <!-- <p id="z<%=articulo[i].id%>"> -->
               <input value="<%= articulo[i].producto.descripcion %>" name="item[descripcion]" readonly  class="bg-transparent border-0" readonly>  
              <!-- </p> -->
            </td>
            <td> 
              <input type="text" value="<%= articulo[i].cantidad %>" name="item[disponible]" readonly class="bg-transparent border-0" readonly>
              <!-- <p id="h<%=articulo[i].id%>" class="cantidadDisponible"></p>  -->
            </td>
            <td>
              <input type="text" value="<%= articulo[i].producto.precioVenta %>" name="item[precio]" readonly class="bg-transparent border-0"> 
              <!-- <p id="q<%=articulo[i]._id%>"></p>  -->
            </td>
            <td><input id="p<%=articulo[i]._id%>" class="col-3" type="number" name="item[cantidad]" max="<%= articulo[i].cantidad%>"></td>        
          </tr>
        

      <%  } %>
      
        <tr>
            <th id="no-border" class="pl-0 pb-1"> 
              <!-- <a href="/pedidos/cantidad"> -->
                <input id="guardarPedido"  type="submit" value="Crear pedido" class="btn btn-success">
              <!-- </a>  -->
            </th>
        </tr>   
    </tbody>    
  </form>
  
</table>

<!-- <script type="text/javascript" src="jQueryFile.js"></script> -->