<%- include('./partials/header') %>

<table class="table table-striped container">
	
  <thead>
    <tr>
      <th scope="col">Seleccionar</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad disponible</th>
      <th scope="col">Almacen</th>
      <th scope="col">Cantidad a seleccionar</th>
    </tr>
  </thead>
  <form action="/pedido" method="POST">
    <tbody>
      <% articulo.forEach(function(articulo){ %>
        <tr>
            <td><input type="checkbox" name="pedido[id]" value="<%= articulo._id %>"></td>
            <td><%= articulo.producto.descripcion %></td>
            <td><%= articulo.cantidad %></td>       
            <td><%= articulo.almacen.nombre %></td>
            <td ><input class="col-3 pick" type="number" name="pedido[cantidad]"></td>         
        </tr>
      <% }); %>
        <tr>
            <th id="no-border" class="pl-0 pb-1"> <input type="submit" value="Crear pedido" class="btn btn-success"></th>
        </tr>   
    </tbody>    
  </form>
  
</table>