<%- include('./partials/header') %>

<table class="table table-striped container">
	
  <thead>
    <tr>
      <th scope="col">Seleccionar</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad disponible</th>
    
      <th scope="col">Cantidad a seleccionar</th>
    </tr>
  </thead>
  <!-- <form action="/pedido" method="POST"> -->

    <!-- <h1><%= articulo.length %></h1> -->
    <tbody>
      <% for (var i = 0; i < articulo.length; i++) { %>
       
          <tr>
            <td><input type="checkbox" name="pedido" value="<%=articulo[i]._id%>"></td>
            <td><%= articulo[i].producto.descripcion %></td>
            <td><%= articulo[i].cantidad %></td>
            
            <td><input id="q<%=articulo[i]._id%>" class="col-3 pick" type="number" name="pedido"></td>         
        </tr>
      

      <%  } %>
      
        <tr>
            <th id="no-border" class="pl-0 pb-1"> <input id="guardarPedido" type="submit" value="Crear pedido" class="btn btn-success"></th>
        </tr>   
    </tbody>    
  <!-- </form> -->
  
</table>

<script type="text/javascript" src="/jQueryFile.js"></script>