<%- include('./partials/header') %>

<table class="table table-striped container">
	
  <thead>
    <tr>
      <th scope="col">Seleccionar</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad disponible</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad a seleccionar</th>
    </tr>
  </thead>
  <form>

    <!-- <h1><%= articulo.length %></h1> -->
    <tbody>
      <% for (var i = 0; i < articulo.length; i++) { %>
       
        <!-- <% var x = []; %> -->
          <tr>
            <td><input type="checkbox" name="pedido" value="<%= articulo[i].id %>"></p></td>
            <td><%= articulo[i].producto.descripcion %></td>
            <td> <p id="q<%=articulo[i]._id%>"><%= articulo[i].cantidad %></p> </td> 
            <td> <p> <%= articulo[i].producto.precioVenta %> </p> </td>
            <td><input id="p<%=articulo[i]._id%>" class="col-3" name="cantidad" type="number" name="pedido"></td>        
          </tr>
      

      <%  } %>
      
        <tr>
            <th id="no-border" class="pl-0 pb-1"> 
              <!-- <a href="/pedidos/cantidad"> -->
                <input id="guardarPedido"  type="submit" value="Crear pedido" class="btn btn-success">
              <!-- </a>  -->
            </th>
        </tr>   
    </tbody>    
  </form>
  
</table>

<script type="text/javascript" src="/jQueryFile.js"></script>